<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>test1</title>

</head>
<body>
<div id="app">
    <input v-model="newTodo" v-on:keyup.enter="addTodo">
    <ul>
        <li v-for="todo in todos">
            <span>{{ todo.text }}</span>
            <button v-on:click="removeTodo($index)">X</button>
        </li>
    </ul>
    <button v-on:click="submit">提交列表</button>
</div>

<script src="vue.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            newTodo: '1111',
            todos: [
                { text: 'Add some todos' }
            ]
        },
        methods: {
            addTodo: function () {
                var text = this.newTodo.trim()
                if (text) {
                    this.todos.push({ text: text })
                    this.newTodo = ''
                }
            },
            removeTodo: function (index) {
                this.todos.splice(index, 1)
            },
            submit:function(){
                alert(JSON.stringify(this.todos))
            }
        }
    })
</script>
</body>
</html>